@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#015a52, #014742);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #5f8fc1;
}

.examples {
  margin: 3rem auto;
}

.examples h2 {
  text-align: left;
}

.examples menu {
  margin: .6rem 0 2rem;
  padding: 0;
  display: flex;
  gap: 0.8rem;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.examples.hide-tabs menu {
  display: none;
}

.tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #023734;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab-content h3 {
  margin: 0;
}

.tab-content code {
  font-size: 1rem;
}

input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #023734;
  color: #ebe7ef;
}

#searchForm {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  flex-direction: column;
}

#searchReset {
  cursor: pointer;
  font-size: 2em;
  padding-inline: 10px;
}

#toggleMenu {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* Style the hamburger menu */
#toggleMenu img {
  margin-right: 12px;
  max-width: 30px;
}

#toggleMenu img.hide {
  display: none;
}

/* Add a grey background color on mouse-over */
#toggleMenu:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

/* Style the active link (or home/logo) */
#toggleMenu.active {
  background-color: #04AA6D;
  color: white;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  gap: 1rem;
}

.navigation-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #023734;
  color: #ebe7ef;
  cursor: pointer;
  transition: background-color 0.2s;
  flex: 1;
}

.navigation-button:hover {
  background-color: #034744;
}


@media (min-width: 600px) {

  .examples menu {
    flex-direction: row;
  }

  #searchForm {
    flex-direction: row;
  }

  #searchDesc {
    order: 3;
  }
}
